/* Root Scene */
.root {
    -fx-background-color: #f4f4f4;
}

/* Board Grid Styling */
.grid-pane {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

/* Tile Styling */
.tile-black {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.tile-white {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

/* Players Label */
.label {
    -fx-font-size: 18px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

/* Buttons */
.button {
    -fx-font-size: 16px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #45a049;
}

/* Players Box */
.players-box {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

/* Dice Box */
.dice-box {
    -fx-alignment: center;
}

/* Button Box */
.button-box {
    -fx-alignment: center;
}

/* Game Control Panel */
.game-control {
    -fx-pref-width: 400px;
    -fx-pref-height: 700px;
    -fx-alignment: top-center;
    -fx-spacing: 150px;
}

/* Player Token */
.player-figure {
    -fx-fill: blueviolet;
}

/* Tile Number White */
.tile-label-white {
    -fx-text-fill: white ;
}

/* Tile Number Black */
.tile-label-black {
    -fx-text-fill: black ;
}

/* Button Menu */
.start-page-button {
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-font-family: "Brush Script MT";
    -fx-font-size: 40px;
    -fx-background-size: 180;
    -fx-background-color: #E4A55D;
    -fx-text-fill: black;
}

.start-page-button:hover {
    -fx-background-color: #C98F4B;
}

/* Start Page Title*/
.start-page-title {
    -fx-font-family: "Brush Script MT";
    -fx-padding: 80;
    -fx-font-size: 50;
    -fx-text-fill: white;
    -fx-underline: true;
}


/*Menu of Start Buttons*/
.menu-start-buttons {
    -fx-padding: 80;
}

/* Start Page Background */
.start-page {
    -fx-background-image: url("/images/Background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

/* Popup Windows */

/* Title */
.popup-title {
    -fx-font-family: "Brush Script MT";
    -fx-font-size: 30;
    -fx-text-fill: black;
    -fx-underline: true;
    -fx-padding: 15;
}

/* Buttons */
.popup-button {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: "Brush Script MT";
    -fx-font-size: 15px;
    -fx-background-size: 30;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-padding: 10;
}

.popup-button:hover {
    -fx-background-color: #E0E0E0;

}

/* Popup Background */
.popup-background {
    -fx-background-color: #D9D9D9;
}

/* Labels */
.popup-label {
        -fx-font-family: "Brush Script MT";
        -fx-font-size: 30;
        -fx-text-fill: black;
        -fx-padding: 15;
}



